@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--Playfair: 'Playfair', serif;
	--Quicksand: 'Quicksand', sans-serif;
	--Roboto: 'Roboto', sans-serif;
	--dark: #3c393d;
	--exDark: #2b2b2b;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--Quicksand);
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1.4;
	color: var(--dark);
}
img {
	width: 100%;
	display: block;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 1.2rem;
}

/* header section */
header {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(images/banner-bg.jpg) center/cover no-repeat fixed;
	/* background-image: url(images/banner-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
}
.navbar {
	background: linear-gradient(rgba(0, 0, 0, 0.6));
	padding: 1.2rem;
}
.navigation {
	display: flex;
	justify-content: space-between;
}
.navigation .logo a {
	color: #fff;
	font-size: 2rem;
	display: block;
	text-decoration: none;
	font-family: var(--Playfair);
	letter-spacing: 1px;
}
.navbar-nav {
	padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a {
	color: #fff;
	text-transform: uppercase;
	font-family: var(--Roboto);
	letter-spacing: 3px;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	transition: opacity 0.5s ease;
}
.navbar-nav a:hover {
	opacity: 0.7;
}
.banner {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 9%;
	color: #fff;
}
.banner-title {
	font-size: 5rem;
	font-family: var(--Playfair);
	line-height: 1.2;
}
.banner-title span {
	font-family: var(--Playfair);
	color: var(--exDark);
}
.banner p {
	padding: 1rem 0 2rem 0;
	font-size: 1.2rem;
	text-transform: capitalize;
	font-family: var(--Roboto);
	font-weight: 300;
	word-spacing: 2px;
}
.banner form {
	background: #fff;
	border-radius: 2rem;
	padding: 0.6rem 1rem;
	display: flex;
	justify-content: space-between;
	margin-top: 0.6rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.search-input {
	font-family: var(--Roboto);
	font-size: 1.2rem;
	padding: 0.6rem 0;
	outline: none;
	border: none;
}
.search-input::placeholder {
	text-transform: capitalize;
}
.search-btn {
	width: 40px;
	font-size: 1.2rem;
	color: var(--dark);
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}
/* End of header section */
/* Start of Design styling */

.design {
	padding: 4.5rem 0;
}
.title {
	text-align: center;
	padding: 1rem 0;
}
.title h2 {
	font-family: var(--Playfair);
	font-size: 2.4rem;
}
.title p {
	text-transform: uppercase;
	padding: 0.6rem 0;
}
.design-content {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.design-item {
	margin: 0;
}
.design-img {
	position: relative;
	overflow: hidden;
}
.design-img::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.design-img img {
	transition: all 0.5s ease;
}
.design-item:hover img {
	transform: scale(1.2);
}
.design-img span:first-of-type {
	position: absolute;
	content: '';
	top: 10px;
	left: 10px;
	background: var(--dark);
	color: #fff;
	padding: 0.25rem 1rem;
	z-index: 1;
}
.design-img span:last-of-type {
	position: absolute;
	content: '';
	bottom: 10px;
	right: 10px;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
	z-index: 1;
}
.design-title {
	font-size: 1.2rem;
	padding: 1rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.design-title a {
	color: var(--dark);
	font-family: var(--Playfair);
	text-decoration: none;
	text-transform: capitalize;
}
/* End of design styling */

/* Start of blog styling */
.blog {
	background: #f9f9f9;
	padding: 4.5rem 0;
}
.blog-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin: 2rem 0;
}
.blog-img {
	position: relative;
}
.blog-img span {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: var(--dark);
	color: #fff;
	font-size: 1.4rem;
	padding: 0.3rem 0.6rem;
}
.blog-text {
	margin: 2.2rem 0;
	padding: 0 1rem;
}
.blog-text span {
	font-weight: 300;
	display: block;
	padding-bottom: 0.5rem;
}
.blog-text h2 {
	font-family: var(--Playfair);
	padding: 1rem 0;
	font-size: 1.65rem;
	font-weight: 500;
}
.blog-text p {
	font-weight: 300;
	font-size: 1.1rem;
	opacity: 0.9;
	padding-bottom: 1.2rem;
}
.blog-text a {
	font-family: var(--Roboto);
	font-size: 1.1rem;
	text-decoration: none;
	background: var(--dark);
	color: #fff;
	padding: 0.55rem 1.2rem;
	transition: all 0.5s ease;
}
.blog-text a:hover {
	background: var(--exDark);
}
/* End of blog styling */

/* Start of about styling */
.about {
	padding: 4.5rem 0;
}
.about-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3rem;
	align-items: center;
}
.about-text {
	margin: 2rem 0;
}
.about-text p {
	font-size: 1.1rem;
	padding: 0.6rem 0;
	opacity: 0.7;
}

/* End of about styling */

/* Start of Footer */
footer {
	background: var(--dark);
	color: #fff;
	text-align: center;
	padding: 2rem 0;
}
.social-links {
	display: flex;
	justify-content: center;
	margin-bottom: 1.4rem;
}
.social-links a {
	border: 2px solid #fff;
	color: #fff;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0 0.3rem;
	transition: all 0.5s ease;
}
.social-links a:hover {
	background: #fff;
	color: var(--dark);
}
footer span {
	margin-top: 1rem;
	display: block;
	font-family: var(--Playfair);
	letter-spacing: 2px;
}
/* End of Footer */

/* Responsive */
.navbar-nav i {
	display: none;
}
@media (max-width: 800px) {
	.navbar-nav a {
		display: none;
	}
	.navbar-nav i {
		display: block;
		font-size: 1.3rem;
		color: #fff;
		cursor: pointer;
		transition: opacity 0.5s ease;
	}
	.navbar-nav i:hover {
		opacity: 0.7;
	}
	.banner-title {
		font-size: 3.5rem;
	}
	.design-content {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
	.blog-content {
		display: grid;
		grid-template-columns: 100%;
		gap: 2rem;
		margin: 2rem 0;
	}
	.about-content {
		display: grid;
		grid-template-columns: 100%;
		column-gap: 3rem;
		align-items: center;
	}
}
